&trackball_peripheral_listener {
  status = "okay";
  test_scrolling {
    layers = <0 1 2 4>;  /* list every layer where mouse should work */
    input-processors = <&zip_ble_report_rate_limit>,
                        <&zip_xy_scaler 1 1>;
  };
	  
	norm_scrolling {
	   layers = <3>;
	   input-processors
	     = <&zip_xy_to_scroll_mapper>
	     , <&zip_scroll_scaler 1 8> 
	     , <&zip_ble_report_rate_limit>
		 , <&zip_scroll_snap>
		 ;
	};

	slow_scrolling {
	   layers = <5>;
	   input-processors
	     = <&zip_xy_to_scroll_mapper>
	     , <&zip_scroll_scaler 1 16> 
	     , <&zip_ble_report_rate_limit>
		 , <&zip_scroll_snap> 
		 ;
	};
}; //end of &trackball_peripheral_listener


&trackball_central_listener {
	input-processors = <&zip_ble_report_rate_limit>;

	scrolling {
	    layers = <3>;
	    input-processors
	      = <&zip_xy_to_scroll_mapper>
	      , <&zip_scroll_scaler 1 16> //1 4
	      , <&zip_ble_report_rate_limit>;
	  };

    scroller: scroller {
			layers           = <4 5>;
			input-processors 
			   =  <&zip_xy_scaler 1 15>           // Scales the scroll speed
			   //,<&zip_xy_to_scroll_mapper>      // Converts XY movement to scroll events 
               //,<&zip_scroll_snap>              //  snap to a direction for macos
			   //,<&zip_scroll_transform (INPUT_TRANSFORM_Y_INVERT)> // Inverts the scroll direction
			;
		};

    fast_pointer: fast_pointer {
        layers           = <0 1 2>;
        input-processors = <&zip_xy_scaler 1 1>;
    };


};
